.cabeçalho{
	background: #58D3F7;
	height: 80px;
	color: black;
	padding: 5px;
	box-sizing: border-box;
}

.navegaçao{
	background: gray;
	height: 60px;
	color: black;
	padding: 5px;
	box-sizing: border-box;	
}

.postagens{
	height: 230px;
	color: #A9BCF5;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
}

.telaLogin{
	background: gray;
	height: 350px;
	color: #A9BCF5;
	border-radius: 10px;
	padding: 40px;
	box-sizing: border-box;
}

.cadastro{
	background: gray;
	height: 640px;
	color: white;
	border-radius: 5px;
	padding: 40px;
	box-sizing: border-box;
}

.body{
	background: #151515;
}

.birthday{
	color: #1C1C1C;
}

a{
	text-decoration: none;
	padding: 5px;
}

a:link{
	color: white	;
}

a:visited{
	color: white;
}

a:hover{
	background: gray;
	color: white;
}

a:active{
	color: white;
}